.cinemaHall {
  border: 1px solid black;
  position: relative;
  padding: 10px;
  margin: 5px;
  display: none; /* do not show while content is loading */
}

.screen {
  border: solid 1px black;
  color: white;
  text-align: center;
}

.seat {
  border: 1px solid black;
  position: absolute;
}

.available {
  background-color: #0d0;
}

.occupied {
  background-color: #ccc;
  text-align: center;
  vertical-align: middle;
}
.occupied:before, .occupied:after {
    position: absolute;
    content: '';
    background: #600;
    display: block;
    width: 2px;
    height: 100%;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    /*center the X vertically and horizontally:*/
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.occupied:after {
    -webkit-transform: rotate(45deg);    
    transform: rotate(45deg);
}

.hovering {
  background-color: #0f0;
}

.selected {
  background-color: #55f;
}

.btn-seat-select {
  width: 2rem;
}
.btn-seat-select-number {
  width: 3rem;
}

.price-box {
  padding-left: 15px;
  padding-right: 15px;
  flex: 1;
  min-width: 14rem;
  max-width: 32rem;
  display: none; /* do not show while content is loading */
}